$darkest: #202B30
$lightest: #f2f2f2
$lighthighlite: #fafafa
$highshadow: #ebb22b
$light: #74C0CF
$dark: #4E7178
$med: #4FA9B8

@mixin border_rad($amount)
    -webkit-border-radius: $amount
    -moz-border-radius: $amount
    border-radius: $amount

@mixin box_shadow($v, $h, $blur, $color)
    -webkit-box-shadow: $h $v $blur 0px $color
    -moz-box-shadow: $h $v $blur 0px $color
    box-shadow: $h $v $blur 0px $color

@mixin transition($time)
    -webkit-transition: all $time ease-in-out
    -moz-transition: all $time ease-in-out
    -o-transition: all $time ease-in-out
    transition: all $time ease-in-out

@mixin textshadow($h, $v, $blur, $color)
    text-shadow: $h $v $blur $color


@font-face
    font-family: "MolotRegular" 
    src: url('/fonts/Molot.eot')
    src: local("/fonts/Molot"), local("/fonts/Molot"), url('/fonts/Molot/fonts/Molot.ttf') format("truetype"), url('/fonts/Molot.svg#Molot') format("svg")

body
    background: url('/images/batthern.png') top left repeat

div.hero-unit
    background: transparent
    color: $darkest
    margin-top: 20px
    padding: 40px

h1#page-title
    font-size: 50px
    text-align: center
    color: $light
    font-family: "MolotRegular", "Georgia", Helvetica, Arial
    text-shadow: 1px 1px 0 $darkest, 2px 2px 0px $dark, 3px 3px 0px $dark, 4px 4px 0px $dark, 5px 5px 0px $dark, 6px 6px 0px $dark, 7px 7px 0px $dark


h5
    text-align: center
    color: $light

div.soundbyte
    height: 200px
    margin-bottom: 20px
    text-align: center
    position: relative

    .title
        background: $lightest
        @include border_rad(4px)
        @include box_shadow(2px, 0, 5px, rgba(0,0,0, 0.4))
        @include transition(150ms)
        cursor: pointer

        &.triangle-isosceles
            position: relative
            padding: 15px
            margin: 1em 0 3em
            background: $lightest
            @include transition(150ms)

        &.triangle-isosceles:after
            content: ""
            position: absolute
            bottom: -15px
            left: 95px
            border-width: 15px 15px 0
            border-style: solid
            border-color: $lightest transparent
            display: block
            width: 0
            @include transition(150ms)

        
        &:hover
            background: $lighthighlite
            @include box_shadow(1px, 0, 8px, rgba(78, 113, 120, 1))
            @include transition(150ms)

            &.triangle-isosceles
                background: $lighthighlite
                @include transition(150ms)
                
                &:after
                    border-color: $lighthighlite transparent
                    @include transition(150ms)


    h3
        @include textshadow(0, 1px, 1px, #aaa)
        line-height: 24px

        .info
            font-size: 14px
            color: #aaa
            text-shadow: 0 0 0

    a.play
        display: block
        width: 48px
        height: 48px
        position: relative
        top: -20px
        margin: 0 auto

        span
            visibility: hidden

    cite
        @include textshadow(0, 1px, 1px, #fff)
        display: block
        position: absolute
        bottom: 10px
        width: 100%


div.soundbyte.Dan a.play
    background: url('/images/Dan.png') top left no-repeat

div.soundbyte.Merlin a.play
    background: url('/images/Merlin.png') top left no-repeat

div.soundbyte.Gruber a.play
    background: url('/images/Gruber.png') top left no-repeat

div.soundbyte.Siracusa a.play
    background: url('/images/Siracusa.png') top left no-repeat

div.soundbyte.Marco a.play
    background: url('/images/Marco.png') top left no-repeat

footer
    @include box_shadow(3px, inset 0px, 10px, rgba(0,0,0,0.4))
    @include textshadow(0, 1px, 1px, #000)
    background: $darkest url('/images/boxes.png')
    color: $lightest
    height: 300px
    border-top: 10px solid $dark

    a
        color: $light
    a:hover
        color: $light
        text-decoration: underline

    h3
        color: $lightest


