@font-face {
  font-family: "MolotRegular";
  src: url("/fonts/Molot.eot");
  src: local("/fonts/Molot"), local("/fonts/Molot"), url("/fonts/Molot/fonts/Molot.ttf") format("truetype"), url("/fonts/Molot.svg#Molot") format("svg"); }

body {
  background: url("/images/batthern.png") top left repeat; }

div.hero-unit {
  background: transparent;
  color: #202b30;
  margin-top: 20px;
  padding: 40px; }

h1#page-title {
  font-size: 50px;
  text-align: center;
  color: #74c0cf;
  font-family: "MolotRegular", "Georgia", Helvetica, Arial;
  text-shadow: 1px 1px 0 #202b30, 2px 2px 0px #4e7178, 3px 3px 0px #4e7178, 4px 4px 0px #4e7178, 5px 5px 0px #4e7178, 6px 6px 0px #4e7178, 7px 7px 0px #4e7178; }

h5 {
  text-align: center;
  color: #74c0cf; }

div.soundbyte {
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  position: relative; }
  div.soundbyte .title {
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer; }
    div.soundbyte .title.triangle-isosceles {
      position: relative;
      padding: 15px;
      margin: 1em 0 3em;
      background: #f2f2f2;
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
    div.soundbyte .title.triangle-isosceles:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 95px;
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: #f2f2f2 transparent;
      display: block;
      width: 0;
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
    div.soundbyte .title:hover {
      background: #fafafa;
      -webkit-box-shadow: 0 1px 8px 0px #4e7178;
      -moz-box-shadow: 0 1px 8px 0px #4e7178;
      box-shadow: 0 1px 8px 0px #4e7178;
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out; }
      div.soundbyte .title:hover.triangle-isosceles {
        background: #fafafa;
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out; }
        div.soundbyte .title:hover.triangle-isosceles:after {
          border-color: #fafafa transparent;
          -webkit-transition: all 150ms ease-in-out;
          -moz-transition: all 150ms ease-in-out;
          -o-transition: all 150ms ease-in-out;
          transition: all 150ms ease-in-out; }
  div.soundbyte h3 {
    text-shadow: 0 1px 1px #aaaaaa;
    line-height: 24px; }
    div.soundbyte h3 .info {
      font-size: 14px;
      color: #aaaaaa;
      text-shadow: 0 0 0; }
  div.soundbyte a.play {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    top: -20px;
    margin: 0 auto; }
    div.soundbyte a.play span {
      visibility: hidden; }
  div.soundbyte cite {
    text-shadow: 0 1px 1px white;
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%; }

div.soundbyte.Dan a.play {
  background: url("/images/Dan.png") top left no-repeat; }

div.soundbyte.Merlin a.play {
  background: url("/images/Merlin.png") top left no-repeat; }

div.soundbyte.Gruber a.play {
  background: url("/images/Gruber.png") top left no-repeat; }

div.soundbyte.Siracusa a.play {
  background: url("/images/Siracusa.png") top left no-repeat; }

div.soundbyte.Marco a.play {
  background: url("/images/Marco.png") top left no-repeat; }

#need_help {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 200px;
  background: rgba(250, 250, 250, 0.8);
  padding: 5px 10px; }
  #need_help h2 {
    font-size: 1.1em;
    text-align: center;
    cursor: pointer; }
  #need_help p {
    font-size: 0.8em;
    display: none; }

footer {
  -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 1px black;
  background: #202b30 url("/images/boxes.png");
  color: #f2f2f2;
  height: 300px;
  border-top: 10px solid #4e7178; }
  footer a {
    color: #74c0cf; }
  footer a:hover {
    color: #74c0cf;
    text-decoration: underline; }
  footer h3 {
    color: #f2f2f2; }
