body {
  background: url("/images/batthern.png") top left repeat; }

div.hero-unit {
  background: #fafafa; }

h1#page-title {
  font-size: 55px; }

div.soundbyte {
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  position: relative; }
  div.soundbyte .title {
    background: #fafafa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.4); }
  div.soundbyte h3 {
    line-height: 24px; }
  div.soundbyte a.play {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    top: -20px;
    margin: 0 auto; }
    div.soundbyte a.play span {
      visibility: hidden; }
  div.soundbyte cite {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%; }

div.soundbyte.Dan a.play {
  background: url("/images/Dan.png") top left no-repeat; }

div.soundbyte.Merlin a.play {
  background: url("/images/Merlin.png") top left no-repeat; }

div.soundbyte.Gruber a.play {
  background: url("/images/Gruber.png") top left no-repeat; }

div.soundbyte.Siracusa a.play {
  background: url("/images/Siracusa.png") top left no-repeat; }

footer {
  background: #202b30;
  color: #fafafa;
  height: 300px;
  border-top: 10px solid #4e7178; }
  footer a {
    color: #74c0cf; }
  footer a:hover {
    color: #74c0cf;
    text-decoration: underline; }
  footer h3 {
    color: #fafafa; }

.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: black;
  background: #fafafa;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background: -moz-linear-gradient(#f9d835, #f3961c);
  background: -o-linear-gradient(#f9d835, #f3961c);
  background: linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.triangle-isosceles:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 95px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #fafafa transparent;
  display: block;
  width: 0; }
