div.soundbyte {
  height: 200px;
  background: #dddddd;
  margin-bottom: 20px;
  text-align: center;
  position: relative; }
  div.soundbyte a.play {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -24px; }
    div.soundbyte a.play span {
      visibility: hidden; }
  div.soundbyte cite {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%; }

div.soundbyte.Dan a.play {
  background: url("/images/Dan.png") top left no-repeat; }

div.soundbyte.Merlin a.play {
  background: url("/images/Merlin.png") top left no-repeat; }

div.soundbyte.Gruber a.play {
  background: url("/images/Gruber.png") top left no-repeat; }
